<%= render partial: "devise/shared/alerts" %>
<%= content_tag(:div, class: "content-box") do %>
  <%= content_tag(:h2, 'Sign up', class: "themed-text") %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= content_tag(:fieldset) do %>
      <%= content_tag(:div, class: "helper-text") do %>
        <%= content_tag :span, "Fields marked with an asterisk (" %>
        <%= content_tag :span, "*", style: "color: red;" %>
        <%= content_tag :span, ") are required." %>
      <% end %>
      <div class="field required">
        <%= f.label :email %><br />
        <% if resource.errors.full_messages_for(:email).present? %>
          <%= f.email_field :email, class: "w-100 form-control is-invalid", required: true %>
          <%= content_tag(:div, resource.errors.full_messages_for(:email).join(".\n"), class: "invalid-feedback") %>
        <% elsif resource.errors.any? %>
          <%= f.email_field :email, class: "w-100 form-control is-valid", required: true %>
        <% else %>
          <%= f.email_field :email, class: "w-100 form-control", required: true %>
        <% end %>
      </div>

      <div class="field required">
        <%= f.label :password %><br />
        <% if resource.errors.full_messages_for(:password).present? %>
          <%= f.password_field :password, class: "w-100 form-control is-invalid", required: true, minlength: @minimum_password_length %>
          <%= content_tag(:div, resource.errors.full_messages_for(:password).join(".\n"), class: "invalid-feedback") %>
        <% else %>
          <%= f.password_field :password, class: "w-100 form-control", required: true, minlength: @minimum_password_length %>
        <% end %>
      </div>

      <div class="field required">
        <%= f.label :name %><br />
        <% if resource.errors.full_messages_for(:name).present? %>
          <%= f.text_field :name, class: "w-100 form-control is-invalid", required: true %>
          <%= content_tag(:div, resource.errors.full_messages_for(:name).join(".\n"), class: "invalid-feedback") %>
        <% elsif resource.errors.any? %>
          <%= f.text_field :name, class: "w-100 form-control is-valid", required: true %>
        <% else %>
          <%= f.text_field :name, class: "w-100 form-control", required: true %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :gender %><br />
        <%= f.select :gender, User.genders.keys.map { |key, val| [key.humanize, key] }, { include_blank: true }, { class: "custom-select" } %>
      </div>

      <div class="field">
        <%= f.label :birthdate %><br />
        <%= f.date_field :birthdate, min: Date.new(Date.today.year-120, 1, 1), max: Date.today, class: "w-100 form-control" %>
      </div>

      <div class="field">
        <%= f.label :country %><br />
        <% if resource.errors.full_messages_for(:country).present? %>
          <%= f.collection_select :country_id, Country.order_by_name, :id, :name, { prompt: "Select country" }, { class: "custom-select is-invalid" } %>
          <%= content_tag(:div, "Please select country", class: "invalid-feedback") %>
        <% else %>
          <%= f.collection_select :country_id, Country.order_by_name, :id, :name, { prompt: "Select country" }, { class: "custom-select" } %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :about %><br />
        <%= f.text_area :about, class: "w-100 form-control" %>
      </div>

      <div class="actions mt-3">
        <%= f.submit "Sign up", class: "submit-button-lg" %>
        <%= content_tag(:span, class: "ml-2") do %>
          Already a member?
          <%= link_to "Log in", new_session_path(resource_name) %><br />
        <% end -%>
      </div>
    <% end -%>
  <% end %>
<% end -%>
