<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.name %>,</p>
    <br/>
    <p>Your <%= link_to('Post', post_url(@report.reported_item_id)).html_safe %> has been reported for <%= @reason %>.</p>

    <p>Report Message: <%= @report.message %></p>

    <% if @message.present? %>
      <p>Admin Message: <%= @message %></p>
    <% end %>
  </body>
</html>
