<!DOCTYPE html>
<html>
  <head>
    <title>Hobbymaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag controller_name if has_asset?(controller_name + '.scss') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body cz-shortcut-listen="true">
    <%= render partial: "shared/header" %>
    <%= content_tag(:main, class: "container", role: "main") do %>
      <% if notice %>
        <%= content_tag(:div, notice, class: "alert alert-primary", role: "alert") %>
      <% end -%>
      <% if alert %>
        <%= content_tag(:div, alert, class: "alert alert-danger", role: "alert") %>
      <% end -%>
      <%= yield %>
    <% end -%>
  </body>
</html>
