<!DOCTYPE html>
<html>
  <head>
    <title>Hobbymaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body cz-shortcut-listen="true">
    <%= render partial: "shared/header" %>
    <%= content_tag(:main, class: "container", role: "main") do %>
      <% if notice %>
        <%= content_tag(:p, notice, class: "notice") %>
      <% end -%>
      <% if alert %>
        <%= content_tag(:p, alert, class: "alert") %>
      <% end -%>
      <%= yield %>
    <% end -%>
  </body>
</html>
