<!DOCTYPE html>
<html>
  <head>
    <title>Hobbymaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/header" %>
    <%= content_tag(:main, class: "container") do %>
      <%= content_tag(:p, notice, class: "notice") %>
      <%= content_tag(:p, alert, class: "alert") %>
      <%= yield %>
    <% end -%>
  </body>
</html>
